@charset "UTF-8";

@media (max-width: 1340px) and (min-width: 1200px) {
  .inner{
    width:100%;
    padding:0 40px;
  }
  /*서브메뉴*/
  #container .sub_depth .lnb_inner #lnb{
    padding:0 40px;
  }
   /*석재타일*/
  /*서브타이틀이미지*/
  #container .sub_tite .img{
    width:600px;
  }
  #container .sub_tite .text_box{
    width: calc(100% - 600px);
  }
  /*포스톤블럭*/
  section.tile03 h4{
    letter-spacing:-0.30rem;
  }
  #container .color_chart .swiper-button-next, #container .color_chart .swiper-button-prev{
    display:none;
  }

  /*지우*/
  /*04_01_ceo인사말*/
  #container .sub_about .text_box h3 {
    font-size: 3.0rem;
  }
  #container .sub_about .text_box strong {
    font-size: 3.0rem;
  }

}

@media screen and (max-width:1200px){
  /*공통*/
  #wrap{
    width:100%;
    height:100%;
  }
  .inner{
    max-width:100%;
    padding:0 35px;
  }
  .mt150{
    margin-top:90px;
  }
  /*석재타일*/
  /* 서브타이틀이미지*/
  #container .sub_tite{
    flex-direction:column;
  }
  #container .sub_tite .img{
    width:100%;
  }
  #container .sub_tite .text_box{
    padding:70px 50px 80px;
    width:100%
  }
  #container .sub_tite.tile05 .text_box{
    padding:70px 50px 80px;
  }
  /*서브타이틀 메뉴*/
  #container .sub_depth .lnb_inner #lnb{
    padding:0 35px;
    font-size:2.0rem;
  }
  #container .sub_depth .lnb_inner #lnb > li{
    width:calc(100%/3);
  }
  #container .sub_depth .lnb_inner.depth_menu #lnb > li{
    width:calc(100%/2);
  }
  #container .sub_depth .lnb_inner #lnb > li.long{
    width:48%;
  }  
  #container .sub_depth .lnb_inner #lnb > li > a{
    padding:30px 0 30px 30px;
  }
  #container .sub_depth .lnb_inner #lnb ul.depth2{
    font-size:1.8rem;
  }
  /*
  #container .sub_depth .lnb_inner #lnb ul.depth2 li{
    line-height:340%;
  }*/
  #container .sub_visual .img{
    background-size:cover;
    background-attachment:inherit;
  }
  #container .sub_visual .tite{
    padding:0 40px;
    word-break:keep-all;
  }
  /*컬러차트*/
  #container .color_chart .swiper-button-next, 
  #container .color_chart .swiper-button-prev{
    display:none;
  }
  #container .color_chart .chart .swiper-slide img{
    width:100%;
    max-width:100%;
  }
  /*고강도타일*/
  /*시공방법소개*/
  #container .method_wrap .method_inner li{
    width:calc((100% - 50px) / 2);
  }
  #container .sub_tite .text_box.import{
    padding:80px 50px;
  }
   /*포스톤블럭*/
   /*시공전후*/
   #container .method_wrap.tile03 .method_inner{
    column-gap:30px;
   }
   #container .method_wrap.tile03 .method_inner li{
    width:calc((100% - 60px) / 3);
   }
  #container .method_wrap.tile03 .method_inner li .txt{
    padding:30px 50px;
  }
  /*제품정보*/
  /*시험성적*/
  #container .cond_wrap{
    flex-wrap:wrap;
  }
  #container .cond_wrap .img{
    display:flex;
    column-gap:20px;
  }
  #container .txt_box{
    width:100%;
  }
  /*시공납품*/
  /*납품실적*/
  #container .bbs table th,
  #container .bbs table td,
  #container .bbs table td a{
    font-size:1.4rem;
  }  
  #container .bbs table tr th:nth-of-type(1),
  #container .bbs table tr td:nth-child(1){
    display:none;
  }
  #container .bbs table tr th:nth-of-type(2){
    width:10%;
  }
  #container .bbs table tr th:nth-of-type(5){
    width:14%;
  }
  /*고객지원*/
  /*담당자안내*/
  #container .customer_list > ul{
    flex-wrap:wrap;
    gap:50px 0;
  }
  #container .customer_list > ul > li:nth-child(1){
    width:100%;
  }
  #container .customer_list > ul > li:nth-child(2){
    width:100%;
  }

/*글쓰기*/
.write_wrap table th{
  width:20%;
}


  /*지우*/
  /*04_01_ceo인사말*/
  #container .sub_about .text_box {
    padding: 80px 0;
    text-align: center;
  }
  #container .sub_about .text_box h3 {
    font-size: 2.5rem;
  }
  #container .sub_about .text_box strong {
    font-size: 2.5rem;
  }
  /*회사정신*/
  #container .spirit {
    margin-top: 70px;
    background: url(../images/sub/04_about/01_ceo/Enterprise.jpg)0 0 / cover no-repeat;
    background-attachment: fixed;
  }
  #container .spirit .text_box {
    padding: 200px 0;
    color: #fff;
    text-align: center;
  }
  #container .spirit .text_box h5 {
    margin-bottom: 60px;
    font-size: 6.0rem;
    font-weight: 700;
  }
  #container .spirit .text_box p {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.6;
  }
  /*ceo인사말*/
  #container .Message {
    display: block;
  }
  #container .Message .img {
    width: 100%;
    padding: 150px 0;
    background: url(../images/sub/04_about/01_ceo/company.jpg) 0 0 / cover no-repeat;
  }
  #container .Message .text_box {
    width: 100%;
    margin-top: 50px;
  }
  #container .Message p {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  #container .Message p.ceo_name {
    font-size: 2.2rem;
  }

  /*04_02_회사연혁*/
  #container .company_history {
    position: relative;
    display: block;
    width: 100%;
  }
  #container .company_history .wep {
    width: 100%;
  }
  #container .company_history .line {
    display: none;
  }
  #container .company_history .history_text {
    margin-top: 50px;
  }
  #container .company_history .history_text li {
    margin-bottom: 40px;
  }
  #container .company_history .history_text h5 {
    font-size: 3.8rem;
  }
  #container .company_history .history_text .text {
    margin-bottom: 35px;
  }

  /*04_03_조직도*/
  #container .org {
    padding-top: 50px;
  }

  /*04_04_생산공정*/
  /*기계설비현황*/
  #container .machine_system .machine {
    margin-top: 50px;
  }
  #container .machine_system .machine ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
  }
  #container .machine_system .machine .machine_box {
    width: calc((100% - 32px) / 3);
    border-radius: 15px;
  }
  #container .machine_system .machine .machine_box span {
    position: absolute;
    left: 25px;
    bottom: 20px;
    font-size: 1.8rem;
  }
  /*타일생산과정*/
  #container .tile_system .tile_production {
    margin: 80px 0 150px;
  }
  #container .tile_system .tile_production ul {
    column-gap: 30px;
    row-gap: 50px;
  }
  #container .tile_system .tile_production li {
    width: calc((100% - 60px) / 3);
  }
  #container .tile_system .tile_production p {
    font-size: 1.6rem;
  }
  #container .tile_system .tile_production p.num {
    font-size: 1.8rem;
  }
  #container .tile_system .tile_production .line {
    margin: 22px 0;
  }
  #container .tile_system .tile_production p.productname {
    margin-bottom: 10px;
    font-size: 2.4rem;
  }

  /*04_05_채용정보*/
  #container .job_intro .text_box {
    text-align: center;
  }
  #container .job_intro .text_box p {
    font-size: 2.0rem;
  }
  #container .job_intro .text_box h3 {
    margin: 15px 0;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: -2px;
  }
  #container .job_intro .text_box strong {
    font-size: 3.5rem;
    font-weight: 600;
  }
  #container .job_intro .text_box i {
    font-size: 3.5rem;
    font-weight: 500;
    color: #003975;
  }
  #container .job_intro .text_box em {
    font-size: 2.0rem;
    color: #555;
    word-break: keep-all;
  }
  #container .job_line {
    margin-top: 80px;
  }
  /*인재상*/
  #container .features_inner.people {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
  }
  #container .features_inner.people li {
    width: 100%;
    margin-bottom: 10px;
  }
  #container .features_inner.people li .ico{
    position:relative;
    width:122px;
    height: 102px;
    border-radius:20px 0;
  }
  #container .people li:nth-child(1) .ico{
    background-color:#003975;
  }
  #container .people li:nth-child(2) .ico{
    background-color:#39B54A;
  }
  #container .people li:nth-child(3) .ico{
    background-color:#003975;
  }
  #container .people li:nth-child(4) .ico{
    background-color :#39B54A;
  }
  #container .features_inner.people li .txt{
    width: 100%;
    margin-top: -7px;
    border-bottom: none;
  }
  /*채용절차*/
  #container .process .people_process {
    display: flex;
    flex-wrap: wrap;
    column-gap: 65px;
    overflow: hidden;
  }
  #container .process .people_process li {
    width: calc((100% - 130px) / 3);
  }
  #container .process .people_process .icon {
    position: relative;
  }
  #container .process .people_process li .icon::after {
    content: "";
    position: absolute;
    right: -24px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 27px;
    background: url(../images/sub/04_about/05_jobs/process_arrow.png)0 0 / 14px no-repeat;
  }
  #container .process .people_process li:last-child .icon::after {
    display: none;
  }

  #container .process .people_process p {
    font-size: 2.2rem;
    text-align: center;
    word-break: keep-all;
  }

  /*복리후생*/
  #container .process .people_process.benefits li .icon::after {
    display: none;
  }

  /*04_06_오시는길*/
  #container .map_container.ulsan .map_infor > div:nth-child(1) {
    width: 100%;
  }

  /*06_01_개인정보취급방침*/
  #container .title_text h2 {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.6;
  }

  /*06_02_이메일무단수집거부*/
  #container .email_wrap .text_box img {
    width: 150px;
  }
  #container .email_wrap .text_box p {
    padding: 60px 0;
    font-size: 2.0rem;
    line-height: 1.7;
  }
}
@media screen and (max-width:1024px){
  /*공통*/
  section h4{
    font-size:3.8rem;
  }
  #container .sub_depth .lnb_inner #lnb > li > a{
    font-size:1.8rem;
  }
  /*서브메뉴*/
  #container .sub_tite .text_box h2,
  #container .sub_tite .text_box h2 i{
    font-size:3.5rem;
  }
  #container .sub_tite .text_box p{
    font-size:1.8rem;
  }
  /*갤러리*/
  .search_box .submit_box input,
  .search_box .select_area select{
    font-size:1.6rem;
  }
  /*제품소개*/
  /*포스턴블럭*/
  #container .sub_tite .text_box,
  #container .sub_tite.tile03 .text_box,
  #container .sub_tite.tile05 .text_box{
    padding:50px 50px 100px;
  }
  #container .method_wrap.tile03 .method_inner.tile03 li .txt{
    padding:30px
  }
  /*수입타일*/
  #container .sub_tite .text_box.import{
    padding:80px 50px 100px;
  }

  /*제품정보*/
  /*시험성적*/
  #container .cond_wrap .img{
    flex-wrap:wrap;
    width:100%;
    margin-bottom:30px;
  }
  #container .cond_wrap .img span{
    width:calc((100% - 20px) / 2);
  }
  #container .txt_box h3{
    font-size:3.5rem;
  }
  #container .txt_box p{
    font-size:2.0rem;
  }
  #container .txt_box div{
    font-size:1.8rem;
  }
  #container .spec ul.ex_list.testreport li p, 
  #container .spec ul.ex_list.testreport li p i{
    font-size:1.6rem;
    word-break:keep-all;
  }
  #container .spec ul.ex_list.testreport li strong{
    font-size:1.8rem;
  }
  #container ul.report_wrap li p, #container ul.report_wrap li p i{
    font-size:2.0rem;
  }
  /*인증서*/
  #container .cert_tite p{
    font-size:3.8rem;
    line-height:160%;
    word-break:keep-all;
  }
  #container .cert_img ul.cert_list{
    column-gap:30px;
  }
  #container .cert_img ul.cert_list li{
    padding:30px;
  }
  #container .cert_img ul.cert_list li p, 
  #container .cert_img ul.cert_list li p i{
    font-size:2.0rem;
    word-break:keep-all;
  }
}
@media screen and (max-width:768px){
  .mt150{
    margin-top:90px;
  }
  section h4{
    font-size:3.8rem;
  }
   /*석재타일*/
  /* 서브타이틀이미지*/
  #container .sub_tite{
    flex-direction:column;
  }
  #container .sub_tite .img{
    width:100%;
  }
  #container .sub_tite .text_box{
    padding:70px 50px 80px;
    width:100%
  }
  #container .sub_visual .tite{
    padding:0 50px;
  }
  #container .sub_visual .tite h2{
    font-size:3.5rem;
  }
  #container .sub_visual .tite p{
    margin-top:10px;
    font-size:2.0rem;
    line-height:160%;
    word-break:keep-all;
  }
  /*서브타이틀 메뉴*/
  #container .sub_depth .lnb_inner #lnb{
    padding:0 35px;
    font-size:2.0rem;
  }
  #container .sub_depth .lnb_inner #lnb > li{
    width:50%;
  }
  #container .sub_depth .lnb_inner #lnb > li:first-child{
    display:none;
  }
  #container .sub_depth .lnb_inner #lnb > li:nth-child(2) > a{
    border-radius:20px 0 0 0;
  }
  #container .sub_depth .lnb_inner.depth_menu #lnb > li:first-child{
    display:block;
  }
  #container .sub_depth .lnb_inner.depth_menu #lnb > li:nth-child(2) > a{
    border-radius:0 0 20px 0;
  }
  #container .sub_depth .lnb_inner #lnb > li.long{
    width:65%;
  }
  #container .sub_depth .lnb_inner #lnb > li > a{
    padding:25px 0 25px 30px;
  }
  #container .sub_depth .lnb_inner #lnb ul.depth2{
    font-size:1.8rem;
  }
  /*
  #container .sub_depth .lnb_inner #lnb ul.depth2 li{
    line-height:340%;
  }*/
  #container .sub_visual .img{
    background-size:cover;
    background-attachment:inherit;
  }
  /*특장점*/
  #container .features .text_box p{
    word-break:keep-all;
  }
  /*컬러차트*/
  #container .color_chart .swiper-button-next, 
  #container .color_chart .swiper-button-prev{
    display:none;
  }
  #container .color_chart .chart .swiper-slide img{
    width:100%;
    max-width:100%;
  }
  /*갤러리*/
  .search_wrap{
    margin-top:30px;
  }
  #container .gallery_wrap ul.gallery{
   column-gap:20px;
  }
  #container .gallery_wrap ul.gallery li{
    width:calc((100% - 20px)/2);
  }
  /*고강도타일*/
  /*시공방법*/
  #container .method_wrap .method_inner{
    gap:50px 30px;
  }
  #container .method_wrap .method_inner li{
    width:calc((100% - 30px) / 2);
  }
   /*포스톤블럭*/
   /*시공전후*/
  #container .method_wrap.tile03 .method_inner li{
    width:calc((100% - 50px) / 2);
  }
  #container .method_wrap.tile03 .method_inner.tile03 li .txt{
    padding:30px;
  }
  /*수입타일*/
  #container .sub_tite .text_box.import{
    padding:80px 50px;
  }
  /*제품정보*/
  /*시험성적서*/
  #container .cond_wrap .img{
    flex-wrap:wrap;
    margin-bottom:30px;
  }
  #container .cond_wrap .img span{
    width:100%;
    /*width:calc((100% - 20px) /2);*/
  }
  #container .spec ul.ex_list.testreport li p{
    margin-top:10px;
  }
  /*인증서*/
  #container .cert_tite p{
    padding-top:8px;
    font-size:2.2rem;
  }
  #container .cert_img ul.cert_list li p, 
  #container .cert_img ul.cert_list li p i{
    font-size:1.8rem;
  }
  #container .cert_img ul.cert_list li p i{
    display:inline;
  }
  #container .cert_img ul.cert_list{
    flex-wrap:wrap;
    justify-content:flex-start;
    gap:60px;
  }
  #container .cert_img ul.cert_list li{
    padding:30px;
    width:calc((100% - 60px) /2);
  }
  #container .cert_tite p{
    display:inline;
  }
  /*고객지원*/
  /*고객문의*/
  #container .bbs table tr th:nth-of-type(5),
  #container .bbs table tr td:nth-of-type(5){
    display:none;
  }
  #container .bbs table.customer tr th:nth-of-type(2){
    width:70%;
  }
  /*고객지원*/
  /*담당자안내*/
  #container .customer_list > ul > li .region_box > ol > li{
    padding:30px 40px;
  }
  /*비밀번호*/
  .password_wrap p.tite,
  .password_wrap .pw_box .txt_wrap p{
    font-size:2.0rem;
  }
  /*비밀번호*/
  .password_wrap .pw_box form input{
    display:block;
    margin-right:0;
    width:100%;
  }
  .password_wrap .pw_box form button{
    margin-top:15px;    
    width:100%;
  }
  /*글쓰기*/
  .write_wrap table td, 
  .write_wrap table th, 
  .write_wrap table label,
  .write_wrap .w_title,
  .write_wrap table input{
    font-size:1.3rem;
  }
  .write_wrap table td, 
  .write_wrap table th{
    padding:10px;
  }
  .write_wrap table th{
    text-indent:0;
  }
  .write_wrap .privacy_comment .privacy_agree{
    padding:30px;
  }
  .write_wrap .privacy_comment .privacy_agree p{
    line-height:160%;
  }
  .write_wrap .privacy_comment .button_wrap{
    display:flex;
    margin-top:50px;
  }
  .write_wrap .privacy_comment .button_wrap button.list_btn{
      width:60%;
  }
  .write_wrap .privacy_comment .button_wrap button.cancel_btn{
      width:40%;
   }


  /*지우*/
  /*04_01_ceo인사말*/
  #container .sub_about .text_box {
    padding: 60px 0;
    text-align: center;
  }
  #container .sub_about .text_box h3 {
    font-size: 2.5rem;
  }
  #container .sub_about .text_box strong {
    font-size: 2.5rem;
  }
  /*회사정신*/
  #container .spirit {
    margin-top: 150px;
    background: url(../images/sub/04_about/01_ceo/Enterprise.jpg)0 0 / cover no-repeat;
    background-attachment: fixed;
  }
  #container .spirit .text_box {
    padding: 150px 0;
  }
  #container .spirit .text_box h5 {
    margin-bottom: 60px;
    font-size: 3.5rem;
    font-weight: 700;
  }
  #container .spirit .text_box p {
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 1.6;
    word-break: keep-all;
  }
  /*ceo인사말*/
  #container .Message {
    display: block;
  }
  #container .Message .img {
    width: 100%;
    padding: 150px 0;
    background: url(../images/sub/04_about/01_ceo/company.jpg) 0 0 / cover no-repeat;
  }
  #container .Message .text_box {
    width: 100%;
    margin-top: 50px;
  }
  #container .Message p {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  #container .Message p.ceo_name {
    font-size: 2.2rem;
  }

  /*04_02_회사연혁*/
  #container .company_history {
    position: relative;
    display: block;
    width: 100%;
  }
  #container .company_history .wep {
    width: 100%;
  }
  #container .company_history .line {
    display: none;
  }
  #container .company_history .history_text {
    margin-top: 50px;
  }
  #container .company_history .history_text li {
    margin-bottom: 40px;
  }
  #container .company_history .history_text h5 {
    font-size: 3.8rem;
  }
  #container .company_history .history_text .text {
    margin-bottom: 35px;
  }

  /*04_04_생산공정*/
  /*기계설비현황*/
  #container .machine_system .machine {
    margin-top: 50px;
  }
  #container .machine_system .machine ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
  }
  #container .machine_system .machine .machine_box {
    width: calc((100% - 32px) / 3);
    border-radius: 15px;
  }
  #container .machine_system .machine .machine_box span {
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 1.6rem;
  }
  /*타일생산과정*/
  #container .tile_system .tile_production {
    margin: 50px 0 150px;
  }
  #container .tile_system .tile_production ul {
    column-gap: 30px;
    row-gap: 50px;
  }
  #container .tile_system .tile_production li {
    width: calc((100% - 60px) / 3);
  }
  #container .tile_system .tile_production p {
    font-size: 1.4rem;
  }
  #container .tile_system .tile_production p.num {
    font-size: 1.8rem;
  }
  #container .tile_system .tile_production .line {
    margin: 15px 0;
  }

  /*04_05_채용정보*/
  /*채용절차*/
  #container .process .people_process {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    overflow: hidden;
  }
  #container .process .people_process li {
    width: calc((100% - 60px) / 3);
  }
  #container .process .people_process li .icon {
    width: 100%;
    padding: 30px;
    margin: 80px 0 20px;
    border-radius: 20px;
    background: #f4f4f4;
  }
  #container .process .people_process p {
    font-size: 1.6rem;
    text-align: center;
    word-break: keep-all;
  }


  /*04_06_오시는길*/
  #container .map_tabs {
    margin: 50px 0 20px;
  }
  #container .map_tabs li {
    padding: 15px 0;
    font-size: 1.8rem;
  }
  #container .map_container iframe {
    height: 480px;
  }
  #container .map_container .map_infor {
    display: block;
    margin-top: 20px;
  }
  #container .map_container .map_infor .icon {
    width: 40px;
    height: 40px;
    border-radius: 0 5px 0 5px;
  }
  #container .map_container .map_infor .icon.place {
    background: #39B54A url(../images/sub/04_about/06_map/icon_place.png) center 50% / 25px no-repeat;
  }
  #container .map_container .map_infor .icon.call {
    background: #39B54A url(../images/sub/04_about/06_map/icon_call.png) center 50% / 25px no-repeat;
  }
  #container .map_container .map_infor .icon.fax {
    background: #39B54A url(../images/sub/04_about/06_map/icon_fax.png) center 50% / 25px no-repeat;
  }
  #container .map_container .map_infor > div {
    display: flex;
    align-items: start;
    column-gap: 10px;
    margin-bottom: 10px;
  }
  #container .map_container .map_infor i {
    font-size: 1.8rem;
  }
  #container .map_container .map_infor p {
    width: 450px;
    font-size: 1.6rem;
  }

  /*06_01_개인정보취급방침*/
  #container .title_text h2 {
    font-size: 2.8rem;
  }
  /*개인정보 취급방침 순서*/
  #container .policy_content .mb150 {
    margin-bottom: 80px;
  }
  #container .policy_number h3 {
    font-size: 2.0rem;
  }
  #container .policy_number p {
    margin: 15px 0;
    font-size: 1.8rem;
  }
  #container .policy_number ul li {
    font-size: 1.8rem;
    line-height: 1.7;
    color: #555;
  }
  /*개인정보 취급방침 내용*/
  #container .policy_content .content h5 {
    margin-bottom: 20px;
    font-size: 2.8rem;
    font-weight: 500;
    word-break: keep-all;
  }
  #container .policy_content .content p {
    font-size: 1.8rem;
  }
  #container .policy_content .content .list {
    margin:20px 0 30px;
  }
  #container .policy_content .content .list span {
    padding-left: 25px;
    font-size: 1.8rem;
    line-height: 1.7;
  }

  /*06_02_이메일무단수집거부*/
  #container .email_wrap .text_box img {
    width: 120px;
  }
  #container .email_wrap .text_box p {
    padding: 40px 0;
    font-size: 1.6rem;
    line-height: 1.7;
  }
}
@media all and (max-width:600px){
  /*서브비주얼*/
  #container .sub_visual .tite h2{
    font-size:2.5rem;
  }
  #container .sub_visual .tite p{
    font-size:1.8rem;
  }
  /*서브메뉴*/
  #container .sub_depth .lnb_inner #lnb > li{
    width:100%;
  }
  #container .sub_depth .lnb_inner #lnb > li.long{
    width:100%;
  }
  #container .sub_depth .lnb_inner #lnb > li > a{
    font-size:1.8rem;
    padding: 20px 0 20px 30px;
  }
  #container .sub_depth .lnb_inner #lnb > li:nth-child(2){
    display:none;
  }
  #container .sub_depth .lnb_inner.depth_menu #lnb > li:nth-child(1){
    display:none;
  }
  #container .sub_depth .lnb_inner #lnb > li:last-child > a{
    border-radius:20px 0 20px 0;
  }
  #container .sub_depth .lnb_inner.depth_menu #lnb > li:last-child{
    display:block;
    width:100%;
    border-radius:20px 0 20px 0;
  }
  #container .sub_depth .lnb_inner.depth_menu #lnb > li:last-child > a{
    border-radius:20px 0 20px 0;
  }

}
/*480px*/
@media all and (max-width:480px) {
  /*공통*/
  #wrap{
    overflow:hidden;
  }
  .inner{
    padding:0 20px;
  }
  .mt150{
    margin-top:90px;
  }
  section h4{
    padding-left:30px;
    font-size:2.2rem;
  }
  section h4::before{
    width:20px;
    height:20px;
    background-size:contain;
  }
  ul.paging li a{
    font-size:1.8rem;
  }
   /*석재타일*/
  /*서브비주얼*/
  #container{
    padding-top:55px;
  }
  #container .sub_tite{
    margin-top:70px;
  }
  #container .sub_visual .tite h2{
    font-size:2.2rem;
  }
  #container .sub_visual .tite p{
    font-size:1.5rem;
  }
  #container .sub_visual .img{
    height:216px;
  }

  /*서브타이틀이미지*/
  #container .sub_tite .img{
    height:210px;
  }
  #container .sub_tite .text_box{
    padding:50px;
    text-align:center;
  }
  #container .sub_tite.tile05 .text_box{
    padding:50px;
  }

  #container .sub_tite .text_box .round{
    margin:0 auto 15px;
    width:120px;
  }
  #container .sub_tite .text_box .round,
  #container .sub_tite .text_box strong,
  #container .sub_tite .text_box p{
    font-size:1.5rem;
  }
  #container .sub_tite .text_box h2,
  #container .sub_tite .text_box h2 i{
    font-size:2.2rem;
    letter-spacing:-0.04rem;
    line-height:140%;
  }
  /*특장점*/
  #container .features .text_box{
    margin-top:20px;
  }
  #container .features .text_box p{
    font-size:1.3rem;
  }
  /*컬러차트*/
  #container .color_chart .text_box{
    margin:20px 0;
  }
  #container .color_chart .text_box p,
  #container .color_chart .text_box p i{
    font-size:1.5rem;
    word-break:break-all;
  }
  #container .color_chart .chart .swiper-slide p{
    margin-top:10px;
    font-size:1.5rem;
  }
  /*specifications*/
  #container .spec .table_graph{
    overflow-x:auto;
  }
  #container .spec .table_graph table{
    margin-top:30px;
    width:800px;
  }
  #container .spec .ref{
    font-size:1.3rem;
  }
  /*Standard Size*/
  #container .standard_size .img{
    display:none;
  }
  #container .standard_size .m_img{
    display:block;
    margin-top: 30px;
    padding: 50px 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
  }
  /*갤러리*/
  .search_wrap{
   flex-direction:column;
   align-items:flex-start;
  }
  .search_wrap form{
    width:100%;
  }
  .search_box .select_area select,
  .search_box .submit_box input{
    font-size:1.2rem;
  }
  .search_box .submit_box input{
    padding:10px 80px 10px 5px; 
    text-indent:5px;
  }
  .search_box .select_area select{
    padding:16px 40px 16px 10px;
    width:100%;  
  }
  /*.search_box .submit_box input{
    padding:0 10px;
  }*/
  .search_wrap p,
  .search_wrap p i{
    display:none;
    font-size:1.5rem;
  }
  #container .gallery_wrap ul.gallery li .txt{
    margin-top:15px;
  }
  #container .gallery_wrap ul.gallery li .txt p{
    font-size:1.3rem;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    white-space:normal;
    text-overflow:ellipsis;     
  }
  #container .gallery_wrap ul.gallery li .txt strong{
    display:block;
    margin-top:5px;
    font-size:1.5rem;   
  }
  ul.paging{
    margin-top:50px;
  }
  /*고강도타일*/
  /*특장점*/
  #container .features_inner li{
    flex-direction:column;
    column-gap:0;
    border:1px solid #ddd;
    border-radius:20px 0;
  }
  #container .features_inner li:first-child{
    margin-top:0;
  }  
  #container .features_inner li .ico{
    padding:35px 0;
    width:100%;
    height:auto;
  }
  #container .features_inner li .txt{
    padding:30px 20px;
    width:100%;
    text-align:center;
    border-bottom:none;
  }
  #container .features_inner li .txt strong{
    font-size:1.8rem;
  }
  /*Color Chart*/
  #container .color_chart .img_chart ul li{
    width:100%;
  }
  #container .color_chart .img_chart ul li p{
    margin-top: 10px;
    font-size: 1.5rem;    
  }
  /*시공방법*/
  #container .method_wrap .method_inner{
    gap:50px 0;
  }
  #container .method_wrap .method_inner li{
    width:100%;
  }
  #container .method_wrap .method_inner li .img::before,
  #container .method_wrap .method_inner li .txt strong{
    font-size:2.2rem;
  }
  #container .method_wrap .method_inner li .txt{
    padding:30px 30px 50px 30px;
  }  
  #container .method_wrap .method_inner li:last-child .txt{
    padding:30px 30px 80px 30px;
  }  
  #container .method_wrap .method_inner li .txt p{
    font-size:1.5rem;
  }
  #container .method_wrap .method_inner li .img img{
    height:150px;
  }
   /*포스톤블럭*/
   /*시공전후*/
   #container .color_chart .text_box.tile03 p{
    display:inline;
   }
   #container .method_wrap.tile03 p.s_tite{
    font-size:1.6rem;
   }
   #container .method_wrap.tile03 .method_inner{
    column-gap:0;
   }
   #container .method_wrap.tile03 .method_inner li,
   #container .method_wrap.tile03 .method_inner.tile03 li{
    width:100%;
   }
   /*시공사례비교*/
   #container .spec ul.ex_list{
    flex-wrap:wrap;
   }
   #container .spec ul.ex_list li{
    margin-bottom:30px;
    width:100%;
   }
   #container .spec ul.ex_list li p{
    margin-top:20px;
    font-size:1.5rem;
   }
   /*시각장애인*/
   #container .sub_tite.tile06 .text_box .round{
    width:250px;
   }
   #container .color_chart .item_box{
    flex-wrap:wrap;
   }
   #container .color_chart .item_box div:nth-of-type(2){
    margin:20px 0;
   }
   #container .color_chart .item_box div:nth-of-type(2) p{
    font-size:1.5rem;
   }
   /*아이템*/
  #container .color_chart .text_box.tile06 p.s_tit{
    font-size:1.6rem;
  }
  /*전기자동차*/
  #container .spec ul.ex_list.tile07{
    gap:20px;
  }
  #container .spec ul.ex_list.tile07 li{
    margin-bottom:0;
  }
  /*수입타일*/
  #container .sub_tite .text_box.import{
    padding:50px;
  }

  /*고강도타일*/
  #container .color_chart .spec ul.ex_list{
    flex-wrap:nowrap;
    margin-bottom:0;
  }
  #container .spec ul.ex_list li img{
    border-radius:10px;
  }
  /*제품정보*/
  /*시험성적서*/
  #container .cond_wrap .img{
    flex-wrap:wrap;
    column-gap:0;
    margin-bottom:30px;
  }
  #container .txt_box{
    padding:30px;
  }
  #container .txt_box h3{
    font-size:2.2rem;
  }
  #container .txt_box p{
    font-size:1.8rem;
    line-height:160%;
  }
  #container .txt_box div{
    font-size:1.5rem;
  }
  #container .color_chart .spec ul.ex_list.testreport{
    flex-wrap:wrap;
  }
  #container .spec ul.ex_list.testreport li strong{
    font-size:2.0rem;
  }
  #container .spec ul.ex_list.testreport li p, 
  #container .spec ul.ex_list.testreport li p i{
    font-size:1.5rem;
  }
  /*제품정보*/
  /*시험성적서*/
  #container ul.report_wrap{
    gap:20px;
  }
  #container ul.report_wrap li{
    width:calc((100% - 20px)/2);
  }
  #container ul.report_wrap li p, 
  #container ul.report_wrap li p i{
    font-size:1.5rem;
  }
  #container ul.report_wrap li img{
    border-radius:10px;
  }
  /*인증서*/
  #container .cert_tite p{
    font-size:2.0rem;
    line-height:160%;
    word-break:keep-all;
  }
  #container .cert_img ul.cert_list{
    gap:0;
  }
  #container .cert_img ul.cert_list li{
    display:flex;
    margin-bottom:30px;
    padding:20px;
    width:100%;
    border-radius:10px;
  }
  #container .cert_img ul.cert_list li img{
    width:60%;
  }
  #container .cert_img ul.cert_list li p, 
  #container .cert_img ul.cert_list li p i{
    font-size:1.5rem;
    text-align:left;
    line-height:160%;
    word-break:break-all;
  }
  #container .cert_img ul.cert_list li p i{
    display:inline;
  }  
  /*시공납품*/
  /*납품실적*/
  #container .bbs table tr th:nth-of-type(5), 
  #container .bbs table tr th:nth-of-type(6),
  #container .bbs table tr th:nth-of-type(7),
  #container .bbs table tr th:nth-of-type(8),  
  #container .bbs table td:nth-child(5),
  #container .bbs table td:nth-child(6),
  #container .bbs table td:nth-child(7),     
  #container .bbs table td:nth-child(8){
    display:none;
  }
  #container .bbs table tr th:nth-of-type(2){
    width:20%;
  }
  #container .bbs table tr th:nth-of-type(3){
    width:50%;
  }
  #container .bbs table th, 
  #container .bbs table td, 
  #container .bbs table td a{
    font-size:1.3rem;
  }
  /*고객문의*/
  #container .bbs table.customer tr th:nth-of-type(4),
  #container .bbs table.customer tr th:nth-of-type(5),
  #container .bbs table.customer tr td:nth-of-type(4),
  #container .bbs table.customer tr td:nth-of-type(5){
    display:none;
  }
  #container .bbs table.customer tr th:nth-of-type(3){
    width:15%;
  }
  /*대리점문의*/
  #container .spec.customer .table_graph table{
    width:100%;
  }
  #container .spec.customer table th, 
  #container .spec.customer table td{
    font-size:1.2rem;
  }
  #container .spec.customer table thead tr th:nth-child(1),
  #container .spec.customer table thead tr th:nth-child(2),  
  #container .spec.customer table tbody tr td:nth-child(1),
  #container .spec.customer table tbody tr td:nth-child(2){
    display:none;
  }
  #container .spec.customer table thead tr th:nth-child(4){
    width:50%;
  }
  /*고객지원*/
  /*담당자안내*/
  #container .customer_list > ul > li, 
  #container .customer_list > ul > li > div > strong, 
  #container .customer_list > ul > li > div > span{
    font-size:1.8rem;
  }
  #container .customer_list > ul > li:nth-child(1) .region_box{
    padding:20px;
  }
  #container .customer_list > ul > li .tel_box{
    padding:30px 20px;
    font-size:2.2rem;
  }
  #container .customer_list > ul > li:nth-child(1) .tel_box::before{
    right:26%;
    width:15px;
    height:15px;
  }
  #container .customer_list > ul > li:nth-child(1) .tel_box::after{
    right:8%;
    width:60px;
    height:60px;
    background-size:60%;
  }
  #container .customer_list > ul > li .region_box > ol{
    flex-wrap:wrap;
  }
  #container .customer_list > ul > li .region_box > ol > li{
    display:flex;
    justify-content:space-between;
    width:100%;
    padding:20px;
    border-bottom:1px solid #ddd;
    border-right:none;
  }
  #container .customer_list > ul > li .region_box > ol > li:last-child{
    border-bottom:none;
  }
  #container .customer_list > ul > li .region_box > ol > li > p{
    font-size:1.8rem;
  }
  #container .customer_list > ul > li:nth-child(2) .tel_box::after{
    right:8%;
    width:60px;
    height:60px;
    background-size:60%;
  }
  #container .customer_list > ul > li .region_box.tech > ol > li{
    width:100%;
  }
  /*비밀번호*/
  .password_wrap .pw_box{
    padding:30px;
  }
  .password_wrap p.tite, 
  .password_wrap .pw_box .txt_wrap p{
    font-size:1.8rem;
  }
  .password_wrap .pw_box form input, 
  .password_wrap .pw_box form button{
    font-size:1.5rem;
  }
  .password_wrap .pw_box form button{
    padding:20px;
  }
  /*뷰페이지*/
  .view_wrap strong.tite{
    padding:10px;
    font-size:1.8rem;
  }
  .view_wrap .data span,
  .view_wrap .view_content,
  .view_wrap .comment_wrap strong,
  .view_wrap .comment_wrap .comment_content,
  .view_wrap .comment_wrap .comment_content p,
  .view_wrap .next_wrap ul li, 
  .view_wrap .next_wrap ul li span, 
  .view_wrap .next_wrap ul li a,
  .view_wrap .comment_wrap strong i{
    font-size:1.5rem;
  }
  .view_wrap .next_wrap ul li span:nth-of-type(1){
    padding:20px;
  }
  .button_wrap button.list_btn{
    width:100%;
    padding:20px;
  }
  /*글쓰기*/
  .write_wrap table select{
    padding:7px 10px;
    width:30%;
    font-size:1.4rem;
  }
  .write_wrap table td, .write_wrap table th{
    padding:5px 10px;
  }
  .write_wrap table td, 
  .write_wrap table th, 
  .write_wrap table label, 
  .write_wrap .w_title, 
  .write_wrap table input{
    font-size:1.2rem;
  }
  .write_wrap table input[type="password"]{
    width:75%;
  }
  .write_wrap table input[type="text"]#wr_name{
    width:100%;
  }
  .write_wrap table input[type="text"].email{
    width:57%;
  }
  .write_wrap .privacy_comment .privacy_agree p{
    line-height:180%;
  }

  /*버튼*/
  .button_wrap{
    margin-top:30px;
  }

  /*지우*/
  /*04_01_ceo인사말*/
  #container .sub_about .text_box {
    padding: 30px 0;
    text-align: center;
  }
  #container .sub_about .text_box h3 {
    font-size: 1.8rem;
  }
  #container .sub_about .text_box strong {
    font-size: 1.8rem;
  }
  /*회사정신*/
  #container .spirit {
    margin-top: 25px;
  }
  #container .spirit .text_box {
    padding: 100px 0;
  }
  #container .spirit .text_box h5 {
    margin-bottom: 20px;
    padding: 0 5px;
    font-size: 2.5rem;
  }
  #container .spirit .text_box p {
    padding: 0 20px;
    font-size: 1.6rem;
  }
  /*ceo인사말*/
  #container .Message .img {
    width: 100%;
    padding: 150px 0;
  }
  #container .Message .text_box {
    width: 100%;
    margin-top: 20px;
  }
  #container .Message p {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  #container .Message p.ceo_name {
    font-size: 1.8rem;
  }
  
  /*04_02_회사연혁*/
  #container .company_history .history_img img {
    border-radius: 0 10px 0 10px;
  }
  #container .company_history .history_text {
    margin-top: 50px;
  }
  #container .company_history .history_text li {
    display: block;
    margin-bottom: 40px;
  }
  #container .company_history .history_text h5 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 0.8;
  }
  #container .company_history .history_text .text {
    column-gap: 10px;
    margin: 15px 0;
    font-size: 1.3rem;
  }
  #container .company_history .history_text .text strong {
    font-size: 1.5rem;
    line-height: 1.3;
  }
  #container .company_history .history_text .text p {
    margin-top: 0;
    font-size: 1.3rem;
    line-height: 1.6;
  }

  /*04_04_생산공정*/
  /*기계설비현황*/
  #container .machine_system .machine {
    margin-top: 20px;
  }
  #container .machine_system .machine ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
  }
  #container .machine_system .machine .machine_box {
    width: calc((100% - 20px) / 2);
    border-radius: 10px;
  }
  #container .machine_system .machine .machine_box span {
    font-size: 1.4rem;
  }
  /*타일생산과정*/
  #container .tile_system .tile_production {
    margin: 20px 0 150px;
  }
  #container .tile_system .tile_production ul {
    column-gap: 20px;
    row-gap: 40px;
  }
  #container .tile_system .tile_production li {
    width: calc((100% - 40px) / 2);
  }
  #container .tile_system .tile_production p {
    font-size: 1.4rem;
  }
  #container .tile_system .tile_production p.num {
    font-size: 1.8rem;
  }
  #container .tile_system .tile_production .line {
    margin: 12px 0;
  }
  #container .tile_system .tile_production p.productname {
    margin-bottom: 6px;
    font-size: 1.7rem;
  }

  /*04_05_채용정보*/
  #container .job_intro .text_box p {
    padding-top: 20px;
    font-size: 1.3rem;
  }
  #container .job_intro .text_box h3 {
    margin: 15px 0;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: -2px;
  }
  #container .job_intro .text_box strong {
    font-size: 2.2rem;
  }
  #container .job_intro .text_box i {
    font-size: 2.2rem;
  }
  #container .job_intro .text_box em {
    font-size: 1.5rem;
  }
  #container .job_line {
    margin-top: 80px;
  }
  /*인재상*/
  #container .features_inner.people {
    margin-top: 30px;
  }
  #container .features_inner.people li .ico{
    position:relative;
    width:100%;
    height: 102px;
    border-radius:20px 0;
  }
  #container .features_inner.people li .txt{
    padding: 40px 10px;
  }
  #container .people li .txt p.title {
    margin: 5px 0;
    font-size: 1.8rem;
    font-weight: 500;
  }
  #container .people li .txt p {
    font-size: 1.3rem;
  }
  /*채용절차*/
  #container .process .people_process {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-top: -30px;
    overflow: hidden;
  }
  #container .process .people_process li {
    width: calc((100% - 60px) / 3);
  }
  #container .process .people_process li .icon {
    width: 100%;
    padding: 30px;
    margin: 80px 0 20px;
    border-radius: 10px;
    background: #f4f4f4;
  }
  #container .process .people_process li .icon::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 21px;
    background: url(../images/sub/04_about/05_jobs/process_arrow.png)0 0 / 12px no-repeat;
  }
  #container .process .people_process p {
    font-size: 1.4rem;
    text-align: center;
    word-break: keep-all;
  }

  /*04_06_오시는길*/
  #container .map_tabs {
    margin: 20px 0;
  }
  #container .map_tabs li {
    padding: 10px;
    font-size: 1.3rem;
  }
  #container .map_container iframe {
    height: 200px;
  }
  #container .map_container .map_infor {
    display: block;
    margin-top: 20px;
  }
  #container .map_container .map_infor .icon {
    width: 52px;
    height: 32px;
    border-radius: 0 5px 0 5px;
  }
  #container .map_container .map_infor .icon.place {
    background: #39B54A url(../images/sub/04_about/06_map/icon_place.png) center 50% / 15px no-repeat;
  }
  #container .map_container .map_infor .icon.call {
    background: #39B54A url(../images/sub/04_about/06_map/icon_call.png) center 50% / 15px no-repeat;
  }
  #container .map_container .map_infor .icon.fax {
    background: #39B54A url(../images/sub/04_about/06_map/icon_fax.png) center 50% / 15px no-repeat;
  }
  #container .map_container .map_infor > div {
    column-gap: 10px;
    margin-bottom: 10px;
  }
  #container .map_container .map_infor i {
    font-size: 1.3rem;
  }
  #container .map_container .map_infor p {
    font-size: 1.3rem;
  }

  /*06_01_개인정보취급방침*/
  #container .title_text h2 {
    font-size: 1.8rem;
  }
  /*개인정보 취급방침 순서*/
  #container .policy_content .mb150 {
    margin-bottom: 50px;
  }
  #container .policy_number h3 {
    font-size: 1.5rem;
  }
  #container .policy_number p {
    margin: 15px 0;
    font-size: 1.3rem;
  }
  #container .policy_number ul li {
    font-size: 1.3rem;
    line-height: 1.7;
  }
  /*개인정보 취급방침 내용*/
  #container .policy_content .content h5 {
    margin-bottom: 20px;
    font-size: 2.0rem;
    font-weight: 500;
    word-break: keep-all;
  }
  #container .policy_content .content p {
    font-size: 1.4rem;
  }
  #container .policy_content .content .list {
    margin:20px 0 30px;
  }
  #container .policy_content .content .list span {
    padding-left: 25px;
    font-size: 1.4rem;
    line-height: 1.7;
  }

  /*06_02_이메일무단수집거부*/
  #container .email_wrap .text_box img {
    width: 100px;
  }
  #container .email_wrap .text_box p {
    padding: 40px 0;
    font-size: 1.3rem;
    line-height: 1.7;
  }
}

@media all and (max-width:320px){
  /*공통*/
  ul.paging{
    margin-top:50px;
  }
  ul.paging li a{
    font-size:1.6rem;
  }
  /*서브타이틀*/
  #container .sub_visual .tite{
    padding:0 20px;
  }
  /*서브 메뉴*/
  #container .sub_depth .lnb_inner #lnb{
    padding:0 20px;
    font-size:1.8rem;
  }
  /*
  #container .sub_depth .lnb_inner #lnb ul.depth2 li{
    line-height:200%;
  }*/
  #container .sub_depth .lnb_inner #lnb ul.depth2{
    font-size:1.6rem;
  }
  #container .sub_depth .lnb_inner #lnb > li:last-child > a{
    padding:15px 0 15px 30px;
  }
  /*서브이미지*/
  #container .sub_tite .text_box{
    padding:20px 20px 50px;
  }
  #container .sub_tite .text_box .round{
    margin:0 auto 10px;
    padding:5px 0;
  }
  #container .sub_tite .text_box .round, 
  #container .sub_tite .text_box strong, 
  #container .sub_tite .text_box p{
    font-size:1.3rem;
  }
  /*갤러리*/
  .search_box{
    flex-wrap:wrap;
  }
  .search_wrap .submit_box{
    border-top:1px solid #ddd;
  }
  .search_box .select_area{
    width:100%;
  }
  .search_box .select_area select{
    padding:10px 40px 10px 10px;
    background-color:#f4f4f4;
  }
  .search_box .submit_box input {
    padding: 10px 35px;
  }
  #container .gallery_wrap ul.gallery{
    gap:30px 10px;
  }
  /*뷰페이지*/
  .view_wrap strong.tite{
    padding:10px 0;
    font-size:1.8rem;
  }
  /*쓰기 페이지*/
  .write_wrap table input[type="text"].email{
    width:100%;
  }
  .write_wrap table select{
    margin-top:10px;
    width:88%;
  }

  /*지우*/
  /*04_01_ceo인사말*/

  /*회사정신*/
  /*ceo인사말*/
  #container .Message .img {
    width: 100%;
    padding: 80px 0;
  }
  #container .Message .text_box {
    width: 100%;
    margin-top: 20px;
  }
  #container .Message p {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  #container .Message p.ceo_name {
    font-size: 1.8rem;
  }
  
  /*04_04_생산공정*/
  /*타일생산과정*/
  #container .tile_system .tile_production {
    margin: 20px 0 80px;
  }
  #container .tile_system .tile_production p.num {
    font-size: 1.4rem;
  }
  #container .tile_system .tile_production .line {
    margin: 10px 0;
  }


  /*04_05_채용정보*/
  #container .job_intro .text_box p {
    padding-top: 20px;
    font-size: 1.3rem;
  }
  #container .job_intro .text_box h3 {
    margin: 15px 0;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -2px;
  }
  #container .job_intro .text_box strong {
    font-size: 1.8rem;
  }
  #container .job_intro .text_box i {
    font-size: 1.8rem;
  }
  #container .job_intro .text_box em {
    font-size: 1.3rem;
  }
  #container .job_line {
    margin-top: 50px;
  }
  /*인재상*/
  #container .features_inner.people {
    margin-top: 30px;
  }
  #container .features_inner.people li .ico{
    position:relative;
    width:100%;
    height: 102px;
    border-radius:20px 0;
  }
  #container .features_inner.people li .txt{
    padding: 40px 20px;
  }
  #container .people li .txt p.title {
    margin: 5px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }

  /*채용절차*/
  #container .process .people_process {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    margin-top: -30px;
    overflow: hidden;
  }
  #container .process .people_process li {
    width: calc((100% - 30px) / 3);
  }
  #container .process .people_process li .icon {
    width: 100%;
    padding: 22px;
    margin: 80px 0 20px;
    border-radius: 10px;
    background: #f4f4f4;
  }
  #container .process .people_process li .icon::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url(../images/sub/04_about/05_jobs/process_arrow.png)0 0 / 7px no-repeat;
  }
  #container .process .people_process p {
    font-size: 1.3rem;
  }


  /*04_06_오시는길*/
  #container .map_tabs {
    margin: 20px 0;
  }
  #container .map_tabs li {
    padding: 10px 0;
    font-size: 1.2rem;
    word-spacing: -2px;
  }
  #container .map_container iframe {
    height: 200px;
  }
  #container .map_container .map_infor {
    display: block;
    margin-top: 20px;
  }
  #container .map_container .map_infor .icon {
    width: 52px;
    height: 25px;
    border-radius: 0 5px 0 5px;
  }
  #container .map_container .map_infor .icon.place {
    background: #39B54A url(../images/sub/04_about/06_map/icon_place.png) center 50% / 12px no-repeat;
  }
  #container .map_container .map_infor .icon.call {
    background: #39B54A url(../images/sub/04_about/06_map/icon_call.png) center 50% / 12px no-repeat;
  }
  #container .map_container .map_infor .icon.fax {
    background: #39B54A url(../images/sub/04_about/06_map/icon_fax.png) center 50% / 12px no-repeat;
  }
  #container .map_container .map_infor > div {
    column-gap: 10px;
    margin-bottom: 10px;
  }
  #container .map_container .map_infor i {
    font-size: 1.3rem;
  }
  #container .map_container .map_infor p {
    font-size: 1.3rem;
  }

}