@charset  "utf-8";
html {
  scroll-behavior: smooth;
  color: #252525;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Escoredream', 'san-serif';
  font-size:62.5%;
  font-weight: 400;
}

strong, b, h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

em, i, address {
  font-style: normal;
}

button {
  border: 0;
  background-color: transparent;
}
a{
  display:block;
}
a:link {
  color: #252525;
  text-decoration: none;
}

a:visited {
  color: #252525;
  text-decoration: none;
}

a:hover {
  color: #252525;
  text-decoration: none;
}

a:active {
  color: #252525;
  text-decoration: none;
}

table {
  width:100%; 
  border-collapse:collapse; 
  table-layout:fixed; 
  border-spacing:0; 
  word-break:break-all;
}
