@charset "UTF-8";
.inner{
  width:100%;
  max-width:1340px;
  margin:0 auto;
}
.mt150{
  margin-top:150px;
}
.mb150{
  margin-bottom:150px;
}
section h4{
  position:relative;
  padding-left:44px;
  font-size:4.5rem;
  font-weight:500;
  letter-spacing:-0.24rem;
  text-transform:uppercase;
}
section h4::before{
  content:"";
  display:block;
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  width:30px;
  height:30px;
  background:url("../images/common/bulet.png") no-repeat;
}
.letter{
  letter-spacing:0;
}
.min_h850{
  min-height:850px;
}

/*석재타일*/
#container{
  /*overflow:hidden;*/
  padding-top:90px;
  font-size:2.0rem;
}
#container .sub_visual{
  position:relative;
  overflow:hidden;
}
#container .sub_visual .img{
  width:100%;
  height:360px;  
  background:url("../images/sub/01_products/01_tile_subvisual.jpg") no-repeat;
  background-size:cover;
  animation:scale-up-down 2s ease-in-out alternate;
}
@keyframes scale-up-down{
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#container .sub_visual .tite{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  color:#fff;
  text-align:center;
}
#container .sub_visual .tite h2{
  font-size:4.5rem;
  letter-spacing:-0.2rem;
}
#container .sub_visual .tite p{
  margin-top:15px;
  font-size:2.5rem;
}
/*서브메뉴*/
#container .sub_depth{
 position:relative;
}
#container .sub_depth .lnb_inner{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:99;
  width:100%;
}
#container .sub_depth .lnb_inner #lnb{
  display:flex;
  justify-content:center;
}
#container .sub_depth .lnb_inner #lnb > li{
  position:relative;
  width:calc(100%/3);
}

#container .sub_depth .lnb_inner #lnb > li > a{
  position:relative;
  padding:25px 0 25px 30px;
  font-size:2.2rem;
  background-color:#f4f4f4;
}
#container .sub_depth .lnb_inner #lnb > li > a::after{
  content:"";
  display:block;
  position:absolute;
  top:50%;
  right:18px;
  z-index:98;
  transform:translateY(-50%);
  background:url("../images/common/btn_arrow_down_b.png") no-repeat;
  width:24px;
  height:24px;
}
#container .sub_depth .lnb_inner #lnb > li:last-child > a::after{
  background:url("../images/common/btn_arrow_down_w.png") no-repeat;
}
#container .sub_depth .lnb_inner #lnb > li:first-child > a{
  border-radius:20px 0 0 0;
  border-right:1px solid #c3c3c3;
}
#container .sub_depth .lnb_inner #lnb > li:last-child > a{
  background-color:#003975;
  border-radius:0 0 20px 0;
}
#container .sub_depth .lnb_inner #lnb > li:last-child > a{
  color:#fff;
}
#container .sub_depth .lnb_inner #lnb ul.depth2{
  display:none;
  position:absolute;
  /*top:80%;*/
  left:0;
  z-index:96;
  padding:20px;  
  width:100%;
  color:#555;
  letter-spacing:-0.12rem;
  background-color:#fff;
  border-radius:0 0 20px 0;
  box-shadow:0 5px 9px rgba(0,0,0,0.18);
}
#container .sub_depth .lnb_inner #lnb ul.depth2 li a{
  font-size:1.8rem;
  padding:15px 0;
}
#container .sub_depth .lnb_inner #lnb ul.depth2 li:hover a{
  color:#555;
  text-decoration:underline;
}
/*서브타이틀 이미지*/
#container .sub_tite{
 display:flex;
 overflow:hidden;
}
#container .sub_tite .img{
  width:740px;
  height:490px;
  background:url("../images/sub/01_products/01_01tile/01_01tile_subtite_img.jpg") no-repeat;
  background-size:cover;
  border-radius:20px 0 0 0;
}
#container .sub_tite .text_box{
  width:calc(100% - 740px);
  padding:70px 50px 0;
  background-color:#f4f4f4;
  border-radius:0 0 20px 0;
}
#container .sub_tite .text_box .round{
  margin-bottom:30px;
  padding:10px 0;
  width:130px;
  background-color:#003975;
  font-size:1.8rem;
  text-align:center;
  color:#fff;
  border-radius:30px;
}
#container .sub_tite .text_box strong{
  display:block;
  margin-bottom:5px;
  font-size:2.5rem;
}
#container .sub_tite .text_box h2{
  font-size:4.5rem;
  letter-spacing:-0.24rem;
}
#container .sub_tite .text_box h2 i{
  font-size:4.5rem;
  font-weight:500;
}
#container .sub_tite .text_box p{
  margin-top:15px;
  font-size:2.0rem;
  line-height:180%;
  word-break:keep-all;
  color:#555;
}
#container .features .text_box{
  margin-top:30px;
}
#container .features .text_box p{
  font-size:2.0rem;
  line-height:180%;
  color:#555;
}
/*컬러차트*/
#container .color_chart{
  position:relative;
}
#container .color_chart .text_box{
  margin:30px 0 40px 0;
}
#container .color_chart .text_box p{
  font-size:2.0rem;
  line-height:180%;
  word-break:keep-all;
  color:#555;
}
#container .color_chart .text_box p i{
  font-size:2.0rem;
  font-weight:600;
}
#container .color_chart .color_wrap{
  position:relative;
}
#container .color_chart .chart .swiper-slide img{
  width:100%;
  max-width:100%;
  border-radius:20px;
}
#container .color_chart .chart .swiper-slide p{
  margin-top:30px;
  font-size:2.5rem;
  font-weight:600;
  text-align:center;
}
#container .color_chart .swiper-button-next,
#container .color_chart .swiper-button-prev{
  top:50%;
  transform:translateY(-50%);
}
#container .color_chart .swiper-button-next{
  right:-60px;
}
#container .color_chart .swiper-button-prev{
  left:-60px;        
}
#container .color_chart .swiper-button-next, 
#container .color_chart .swiper-button-prev{
  width:45px;
  height:45px;
  background-image:url("../images/common/btn_slide_right.png");
}
#container .color_chart .swiper-button-prev{
  background-image:url("../images/common/btn_slide_left.png");
}
#container .color_chart .swiper-button-next:after, 
#container .color_chart .swiper-button-prev:after{
  font-size:0;
}

/*specifications*/
#container .spec{
  position:relative;
}
#container .spec table{
  margin-top:40px;
  text-align:center;
}
#container .spec table caption{
  display:none;
}
#container .spec table th,
#container .spec table td{
  padding:8px;
  font-size:1.6rem;
  border:1px solid #ddd;
}
#container .spec table td{
  color:#555;
}
#container .spec table td ul li{
  font-size:1.6rem;
}
#container .spec table thead{
  background-color:#003975;
  color:#fff;
}
#container .spec table thead th{
  border:1px solid #002243;
}
#container .spec table tbody td:nth-child(1),
#container .spec table tbody td:nth-child(2),
#container .spec table tbody td:nth-child(3){
  background-color:#f4f4f4;
}
#container .spec table tbody tr.colspan td:nth-child(2),
#container .spec table tbody tr.colspan td:nth-child(3){
  background-color:#fff;
}
#container .spec .ref{
  margin-top:15px;
  font-size:2.0rem;
  color:#555;
}
/*Standard Size*/
#container .standard_size .img{
  margin-top:30px;
  padding:50px;
  border:1px solid #ddd;
  border-radius:20px;
  overflow:hidden;
}
#container .standard_size .img img,
#container .standard_size .m_img img{
  width:100%;
  max-width:100%;
  background-size:100%;
  display:block;
}
#container .standard_size .m_img{
  display:none;
}
#container .standard_size .m_img span{
  display:block;
}
/*대표적인 시공사례*/
#container .gallery_wrap ul.gallery{
  display:flex;
  flex-wrap:wrap;
  gap:50px 19px;
  margin-top:50px;
  /*글쓰기 버튼때문에 추가*/
  margin-bottom:50px;
}
#container .gallery_wrap ul.gallery li{
  width:calc((100% - 38px) / 3);
}
#container .gallery_wrap ul.gallery li .img{
  display:block;
  overflow:hidden;
  border-radius:20px;
} 
#container .gallery_wrap ul.gallery li .img img{
  width:100%;
  height:100%;
  transition:transform 0.5s ease; 
} 
#container .gallery_wrap ul.gallery li .img:hover img{
  transform:scale(1.1);
} 
#container .gallery_wrap ul.gallery li .txt{
  margin-top:30px;
  text-align:center;
}
#container .gallery_wrap ul.gallery li .txt p{
  font-size:2.0rem;
  color:#666;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
#container .gallery_wrap ul.gallery li .txt strong{
  display:block;
  margin-top:10px;
  font-size:2.0rem;
  font-weight:600;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
/*갤러리*/
.search_wrap{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.search_wrap p{
  color:#999;
  font-size:1.8rem;
}
.search_wrap p i{
  color:#252525;
  font-size:1.8rem;
  font-weight:600;
}
/*검색*/
.search_box{
  display:flex;
  align-items:baseline;
  border-bottom:1px solid #ddd;
}
.search_box .select_area{
  position:relative;
}
.search_box .select_area::after{
  content:"";
  position:absolute;
  top:50%;
  right:20px;
  transform:translateY(-50%);
  width:0;
  height:0;
  border-style:solid;
  border-width:7px 6px 0px 6px;
  border-color:#252525 transparent transparent transparent;
}
.search_box .select_area select{
  padding:16px 20px 16px 10px;
  border:none;
  font-size:1.8rem;
  font-family:"Escoredream", sans-serif;
  appearance:none;
  cursor:pointer;
  color:#252525;
  background-color:#ffffff;
  -webkit-appearance:none;
}
.search_box .submit_box{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
}
.search_box .submit_box input{
  font-family:"Escoredream", sans-serif;
  font-size:1.8rem;
  color:#999;
  letter-spacing:-0.02rem;
  border:none;
}
.search_box .submit_box button{
  padding:15px;
  background:url("../images/common/icon_search.png") no-repeat 50% 50%;
  text-indent:-9999em;
  white-space:nowrap;
  overflow:hidden;
  cursor:pointer;
  border:none;
}
/*페이징*/
ul.paging{
  display:flex;
  justify-content:center;
  column-gap:10px;
  margin-top:100px;
}
ul.paging li a{
  padding:0 10px;
  text-align:center;
  color:#999;
  font-size:2.0rem;
}
ul.paging li.on a{
  color:#2b2b2b;
  font-weight:600;
}

/*고강도타일*/
/*서브타이틀이미지*/
#container .sub_tite.tile02 .img{
  background:url("../images/sub/01_products/01_02tile/01_02tile_subtite_img.jpg") no-repeat;
  background-size:cover;
}
#container .sub_tite.tile02 h2 i{
  display:block;
}
/*특장점*/
#container .features_inner li{
  display:flex;
  column-gap:30px;
  margin-top:50px;
}
#container .features_inner li .ico{
  position:relative;
  width:122px;
  height:118px;
  background-color:#003975;
  border-radius:20px 0;
}
#container .features_inner li:nth-child(2n) .ico{
  background-color:#39B54A;
}
#container .features_inner li .ico::after{
  content:"";
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:50px;
  height:50px;
  background-repeat:no-repeat;
}
/*아이콘*/
#container .features_inner li:nth-child(1) .ico::after{
  background-image:url("../images/sub/01_products/01_02tile/01_02tile_ico01.png");
}
#container .features_inner li:nth-child(2) .ico::after{
  background-image:url("../images/sub/01_products/01_02tile/01_02tile_ico02.png");
}
#container .features_inner li:nth-child(3) .ico::after{
  background-image:url("../images/sub/01_products/01_02tile/01_02tile_ico03.png");
}
#container .features_inner li:nth-child(4) .ico::after{
  background-image:url("../images/sub/01_products/01_02tile/01_02tile_ico04.png");
}
#container .features_inner li .txt{
  width:calc(100% - 152px);
  border-bottom:1px solid #ddd;
}
#container .features_inner li .txt strong{
  font-size:2.5rem;
  font-weight:600;
}
#container .features_inner li .txt p{
  padding:12px 0 15px;
  word-break:keep-all;
}
/*Color Chart*/
#container .color_chart .img_chart ul{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  gap:50px 20px;
  margin-top:40px;
}
#container .color_chart .img_chart ul li{
  width:calc((100% - 20px)/2);
  font-size:2.5rem;
  font-weight:600;
  text-align:center;
}
#container .color_chart .img_chart ul li img{
  max-width:100%;
}
#container .color_chart .img_chart ul li p{
  font-size:2.5rem;
  font-weight:600;
  margin-top:30px;
}
/*Specifications*/
#container .spec .tile02 table tbody td:nth-child(2),
#container .spec .tile02 table tbody td:nth-child(3){
  background-color:#fff;
}
/*시공방법소개*/
#container .method_wrap .method_inner{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  gap:50px;
  margin-top:30px;
}
#container .method_wrap .method_inner li{
  width:calc((100% - 100px)/3);
  overflow:hidden;
  border-radius:20px;
  box-shadow:-2px 3px 12px rgba(0, 0, 0, 0.2);
}
#container .method_wrap .method_inner li .img{
  position:relative;
}
#container .method_wrap .method_inner li .img::before{
  content:"";
  display:block;
  position:absolute;
  top:83%;
  left:50%;
  transform:translateX(-50%);
  padding:15px 80px 0;
  font-size:3.0rem;
  font-weight:600;
  background-color:#fff;
  border-radius:20px 20px 0 0;
}
#container .method_wrap .method_inner li:nth-child(1) .img::before{
  content:"01";
}
#container .method_wrap .method_inner li:nth-child(2) .img::before{
  content:"02";
}
#container .method_wrap .method_inner li:nth-child(3) .img::before{
  content:"03";
}
#container .method_wrap .method_inner li:nth-child(4) .img::before{
  content:"04";
}
#container .method_wrap .method_inner li:nth-child(5) .img::before{
  content:"05";
}
#container .method_wrap .method_inner li:nth-child(6) .img::before{
  content:"06";
}

#container .method_wrap .method_inner li .img img{
  display:block;
  max-width:100%;
  width:100%;
  object-fit:cover;
}
#container .method_wrap .method_inner li .txt{
  padding:50px 30px;
  text-align:center;
}

#container .method_wrap .method_inner li .txt strong{
  font-size:2.5rem;
  font-weight:500;
  word-break:keep-all;
}
#container .method_wrap .method_inner li .txt p{
  margin-top:15px;
  font-size:1.9rem;
  color:#555;
  line-height:160%;
  word-break:keep-all;
}

/*포스턴블럭*/
/*서브타이틀이미지*/
#container .sub_tite.tile03 .text_box{
  padding:50px;
}
#container .sub_tite.tile03 .img{
  background:url("../images/sub/01_products/01_03tile/01_03tile_subtite_img.jpg") no-repeat;
  background-size:cover;
}
#container .sub_tite.tile03 h2 i{
  display:block;
}
/*특장점*/
/*아이콘*/
#container .features_inner.tile03 li:nth-child(1) .ico::after{
  background-image:url("../images/sub/01_products/01_03tile/01_03tile_ico01.png");
}
#container .features_inner.tile03 li:nth-child(2) .ico::after{
  background-image:url("../images/sub/01_products/01_03tile/01_03tile_ico02.png");
}
#container .features_inner.tile03 li:nth-child(3) .ico::after{
  background-image:url("../images/sub/01_products/01_03tile/01_03tile_ico03.png");
}
#container .features_inner.tile03 li:nth-child(4) .ico::after{
  background-image:url("../images/sub/01_products/01_03tile/01_03tile_ico04.png");
}
#container .features_inner.tile03 li:nth-child(5) .ico::after{
  background-image:url("../images/sub/01_products/01_03tile/01_03tile_ico05.png");
}
/*시공 전후 모습*/
#container .method_wrap.tile03 .method_inner{
  margin-bottom:100px ;
}
#container .method_wrap.tile03 p.s_tite{
  margin-top:30px;
  font-size:3.0rem;
  font-weight:600;
  color:#555;
}
#container .method_wrap.tile03 .method_inner li .txt{
  padding:50px;
}
#container .method_wrap.tile03 .method_inner.tile03 li{
  width:calc((100% - 50px)/2);
}
#container .method_wrap.tile03 .method_inner.tile03 li .txt{
  padding:30px 180px;
}
/*종합비교*/
#container .spec table.tile03 th,
#container .spec table.tile03 td{
  padding:15px;
}
#container .spec table.tile03 tbody td.bg_w,
#container .spec table.tile03 tbody td:nth-child(2), 
#container .spec table.tile03 tbody td:nth-child(3){
  background-color:#fff;
}
/*시공사례비교*/
#container .spec ul.ex_list{
  display:flex;
  justify-content:space-between;
  column-gap:20px;
  margin-top:30px;
}
#container .spec ul.ex_list li{
  width:calc((100% - 40px) / 3);
}
#container .spec ul.ex_list li img{
  display:block;
  max-width:100%;
  border-radius:20px;
}
#container .spec ul.ex_list li p{
  margin-top:20px;
  font-size:2.0rem;
  font-weight:600;
  text-align:center;
}
/*파스텔타일*/
/*서브타이틀이미지*/
#container .sub_tite.tile04 .img{
  background:url("../images/sub/01_products/01_04tile/01_04tile_subtite_img.jpg") no-repeat;
  background-size:cover;
}
/*그라스톤타일*/
/*서브타이틀이미지*/
#container .sub_tite.tile05 .img{
  background:url("../images/sub/01_products/01_05tile/01_05tile_subtite_img.jpg") no-repeat;
  background-size:cover;
}
#container .sub_tite.tile05 .text_box{
  padding:50px 50px 0;
}
#container .sub_tite.tile05 .text_box h2 i{
  display:block;
}
/*시각장애인용*/
/*서브타이틀이미지*/
#container .sub_tite.tile06 .img{
  background:url("../images/sub/01_products/01_06tile/01_06tile_subtite_img.jpg") no-repeat;
  background-size:cover;
}
#container .sub_tite.tile06 .text_box .round{
  width:300px;
}
#container .features_inner.tile06 li:nth-child(1) .ico::after{
  background-image:url("../images/sub/01_products/01_06tile/01_06tile_ico01.png");
}
#container .features_inner.tile06 li:nth-child(2) .ico::after{
  background-image:url("../images/sub/01_products/01_06tile/01_06tile_ico02.png");
}
/*아이템*/
#container .color_chart .text_box.tile06 p.s_tit{
  font-size:3.0rem;
  font-weight:600;
  color:#555;
}
#container .color_chart .item_box{
  display:flex;
  justify-content:space-between;
  column-gap:20px;
  margin-bottom:50px;
}
#container .color_chart .item_box img{ 
  display:block;
  max-width:100%;
  border-radius:20px;
}

#container .color_chart .item_box div:nth-of-type(2) img{ 
  border:1px solid #ddd;
}
#container .color_chart .item_box div:nth-of-type(2) p{
  margin-top:10px;
  font-size:2.5rem;
  font-weight:600;
}
#container .color_chart .item_box div:nth-of-type(2) p i{ 
  display:block;
}
/*전기자동차용 고강도타일*/
/*서브타이틀이미지*/
#container .sub_tite.tile07 .img{
  background:url("../images/sub/01_products/01_07tile/01_07tile_subtite_img.jpg") no-repeat;
  background-size:cover;
}
#container .sub_tite.tile07 .text_box .round{
  width:250px;
}
#container .features_inner.tile07 li:nth-child(1) .ico::after {
    background-image: url("../images/sub/01_products/01_07tile/01_07tile_ico01.png");
}
#container .features_inner.tile07 li:nth-child(2) .ico::after {
    background-image: url("../images/sub/01_products/01_07tile/01_07tile_ico02.png");
}
#container .features_inner.tile07 li:nth-child(3) .ico::after {
    background-image: url("../images/sub/01_products/01_07tile/01_07tile_ico03.png");
}
/*활용예시*/
#container .spec ul.ex_list.tile07{
  flex-wrap: wrap;
  gap:50px 20px;
}
#container .spec ul.ex_list.tile07 li{
  width:calc((100% - 60px) / 4);
}
/*수입타일*/
#container .sub_visual.sub_img .img{
  background: url("../images/sub/01_products/02_tile_subvisual.jpg") no-repeat;
}
#container .sub_tite.tile08 .img{
  background:url("../images/sub/01_products/02_01tile/02_01tile_subtite_img.png") no-repeat;
  background-size:cover;
}
#container .sub_tite .text_box.import{
  padding:140px 50px 0;
}
/*고강도타일*/
#container .sub_tite.tile09 .img{
  background:url("../images/sub/01_products/02_02tile/02_02tile_subtite_img.jpg") no-repeat;
  background-size:cover;
}
#container .sub_tite.tile10 .img{
  background:url("../images/sub/01_products/02_03tile/02_03tile_subtite_img.jpg") no-repeat;
  background-size:cover;
}

/*제품정보*/
/*시험성적서*/
#container .sub_visual.productinfo .img{
  background:url("../images/sub/02_productinfo/02_testreport_subvisual.jpg") no-repeat;
}
#container .cond_wrap{
  display:flex;
  justify-content:space-between;
  column-gap:60px;
}
#container .cond_wrap .img span{
  display:block;
  overflow:hidden;
  margin-bottom:30px;
}
#container .cond_wrap .img span:nth-of-type(3){
  margin-bottom:0;
}

#container .cond_wrap .img img{
  display:block;
  width:100%;
  max-width:100%;
  border-radius:20px;
}
#container .txt_box{
  width:712px;
  padding:95px 50px;
  background-color:#f4f4f4;
  border-radius:20px;
}
#container .txt_box h3{
  font-size:4.5rem;
  font-weight:600;
  letter-spacing:-0.25rem;
}
#container .txt_box p{
  padding:20px 0;  
  font-size:2.5rem;
}
#container .txt_box div{
  font-size:2.0rem;
  line-height:180%;
  word-break:keep-all;
  color:#555;
}
#container .spec ul.ex_list.testreport li p{
  margin-top:10px;
}
#container .spec ul.ex_list.testreport li p,
#container .spec ul.ex_list.testreport li p i{
  font-size:2.0rem;
  font-weight:400;
  color:#555;
}
#container .spec ul.ex_list.testreport li p i{
  display:block;
}
#container .spec ul.ex_list.testreport li strong{
  display:block;
  margin-top:20px;
  font-size:2.5rem;
  font-weight:600;
  text-align:center;
  color:#252525;
}
#container ul.report_wrap{
  display:flex;
  flex-wrap:wrap;
  gap:50px;
  justify-content:space-between;
  margin-top:30px;
}
#container ul.report_wrap li{
  width:calc((100% - 100px)/2);
}
#container ul.report_wrap li img{
  display:block;
  width:100%;
  max-width:100%;
  border-radius:20px;
}
#container ul.report_wrap li p,
#container ul.report_wrap li p i{
  margin-top:30px;
  font-size:2.5rem;
  text-align:center;
}
#container ul.report_wrap li p i{
  display:block;
  margin-top:0;
}
/*인증서*/
#container .cert_tite p{
  font-size:4.5rem;
  font-weight:500;
  letter-spacing:-0.2rem;
  text-align:center;
}
#container .cert_img ul.cert_list{
  display:flex;
  justify-content:center;
  column-gap:60px;
  margin-bottom:50px;
}
#container .cert_img ul.cert_list li{
  padding:50px 30px;
  background-color:#f4f4f4;
  border-radius:20px;
}
#container .cert_img ul.cert_list li img{
  display:block;
  max-width:100%;
  width:100%;
}
#container .cert_img ul.cert_list li p,
#container .cert_img ul.cert_list li p i{
  margin-top:30px;
  font-size:2.5rem;
  text-align:center;
}
#container .cert_img ul.cert_list li p i{
  margin-top:0;
  display:block;
}
/*시공납품*/
#container .sub_visual.const .img{
  background:url("../images/sub/03_construction/03_const_subvisual.jpg") no-repeat;
}
#container .bbs table{
  margin-top:50px;
  text-align:center;
  color:#555;
}
#container .bbs table caption{
  display:none;
}
#container .bbs table thead{
    background-color: #003975;
    color: #fff;
}
#container .bbs table th, 
#container .bbs table td{
  padding:15px 0;
  font-size:1.6rem;
  border-bottom:1px solid #ddd;
}
#container .bbs table td a{
  font-size:1.6rem;
}
#container .bbs table td a:hover{
  text-decoration:underline;
  color:#666;
}
#container .bbs table tr th:nth-of-type(1),
#container .bbs table tr th:nth-of-type(2),
#container .bbs table tr th:nth-of-type(5),
#container .bbs table tr th:nth-of-type(6),
#container .bbs table tr th:nth-of-type(7),
#container .bbs table tr th:nth-of-type(8){
  width:8%;
}
#container .bbs table tr th:nth-of-type(3){
  width:30%;
}
#container .bbs table tr td:nth-child(3) a{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
/*고객지원*/
/*고객문의*/
#container .sub_visual.customer .img {
  background: url("../images/sub/05_customer/05_customer_subvisual01.jpg") no-repeat;
}
#container .bbs table.customer tr th:nth-of-type(2){
  width:50%;
}
#container .bbs table tr th:nth-of-type(3){
  width:auto;
}
#container .bbs table.customer tr td:nth-of-type(2){
  text-align:left;
}
#container .bbs table.customer tr td:nth-of-type(4),
#container .bbs table.customer tr td:nth-of-type(5){
  font-size:1.5rem;
  color:#999;
}
#container .bbs table td a{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
#container .bbs table.customer tr td img{
  vertical-align:sub;
}
/*대리점*/
#container .sub_visual.customer_01 .img {
  background:url("../images/sub/05_customer/05_customer_subvisual02.jpg") no-repeat;
}
#container .spec.customer table thead tr th:nth-child(1){
  width:8%;
}
#container .spec.customer table thead tr th:nth-child(3){
  width:20%;
}
#container .spec.customer table thead tr th:nth-child(4){
  width:40%;
}
#container .spec.customer table td{
  word-break:break-all;
}
#container .spec.customer table tbody tr td:nth-child(3),
#container .spec.customer table tbody tr td:nth-child(4){
  padding-left:10px;
  text-align:left;
}
#container .spec.customer .table_graph{
  overflow-x:visible;
}
/*담당자안내*/
#container .sub_visual.customer_02 .img {
  background: url("../images/sub/05_customer/05_customer_subvisual03.jpg") no-repeat;
}
#container .customer_list > ul{
  display:flex;
  justify-content:space-between;
  column-gap:20px;
  margin-top:50px;
}
#container .customer_list > ul > li,
#container .customer_list > ul > li > div > strong,
#container .customer_list > ul > li > div > span{
  font-size:2.5rem;
}
#container .customer_list > ul > li > div > span,
#container .customer_list > ul > li .region_box > ol > li > p.name{
  color:#555;
}
#container .customer_list > ul > li{
  overflow:hidden;
  border:1px solid #ddd;
  border-radius:20px 0 0 20px;
}
#container .customer_list > ul > li:nth-child(1){
  width:550px;
}
#container .customer_list > ul >li:nth-child(2){
  width:770px;
}
#container .customer_list > ul > li:nth-child(1) .region_box{
  display:flex;
  justify-content:space-between;
  padding:33px 40px;
}
#container .customer_list > ul > li .region_box{
  border-bottom:1px solid #ddd;
}
#container .customer_list > ul > li .region_box > ol{
  display:flex;
  justify-content:space-between;
  text-align:center;
}
#container .customer_list > ul > li .region_box > ol > li{
 padding:20px 40px;
 width:calc(100% /3);
 border-right:1px solid #ddd;
}
#container .customer_list > ul > li .region_box > ol > li:last-child{
 border-right:none;
}
#container .customer_list > ul > li .region_box > ol > li > p{
  font-size:2.2rem;
}
#container .customer_list > ul > li .tel_box{
  padding:60px 40px;
  font-size:3.5rem;
}
#container .customer_list > ul > li:nth-child(1) .tel_box{
  position:relative;
  color:#fff;
  background-color:#003975;
}
#container .customer_list > ul > li:nth-child(1) .tel_box::before{
  content:"";
  display:block;
  position:absolute;
  top:11px;
  right:155px;
  width:21px;
  height:21px;
  border-radius:50%;
  background-color:rgba(217, 232, 255, 0.2);
}
#container .customer_list > ul > li:nth-child(1) .tel_box::after{
 content:"";
 display:block;
 position:absolute;
 top:50%;
 right:50px;
 transform:translateY(-50%);
 width:109px;
 height:109px;
 border-radius:50%;
 background-color:rgba(217, 232, 255, 0.2);
 background-image:url("../images/sub/05_customer/05_customer_icon01.png");
 background-repeat:no-repeat;
 background-position:center;
}
#container .customer_list > ul > li:nth-child(2) .tel_box{
  position:relative;
  background-color:#f0f0f0;
}
#container .customer_list > ul > li:nth-child(2) .tel_box::after{
 content:"";
 display:block;
 position:absolute;
 top:50%;
 right:50px;
 transform:translateY(-50%);
 width:109px;
 height:109px;
 border-radius:50%;
 background-color:#e2e2e2;
 background-image:url("../images/sub/05_customer/05_customer_icon02.png");
 background-repeat:no-repeat;
 background-position:center;
}
/*고객기술상담*/
#container .customer_list > ul > li .region_box.tech > ol > li{
  width:calc(100%/2);
}
#container .customer_list > ul > li:nth-child(1) .tel_box.tech{
  background-color:#39B54A;
}
#container .customer_list > ul > li:nth-child(1) .tel_box.tech::before{
  background-color:rgba(220,255,217,0.2);
}
#container .customer_list > ul > li:nth-child(1) .tel_box.tech::after{
 background-color:rgba(220,255,217,0.2);
}

/*비밀번호*/
.password_wrap{
  overflow:hidden;
}
.password_wrap p.tite{
  padding:20px 0;
  background-color:#003975;
  font-size:2.5rem;
  text-align:center;
  color:#fff;
  border-radius:20px 0 0 0;
}
.password_wrap .pw_box{
  padding:50px;
  text-align:center;
  background-color:#f9f9f9;
  border-radius:0 0 20px 0;
}
.password_wrap .pw_box .txt_wrap{
  margin:20px 0;
}
.password_wrap .pw_box .txt_wrap p{
  font-size:2.5rem;
  line-height:160%;
}
.password_wrap .pw_box form label{
  visibility:hidden;
}
.password_wrap .pw_box form input,
.password_wrap .pw_box form button{
  font-family: "Escoredream", sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
  color:#999;
  border:1px solid #ddd;
}
.password_wrap .pw_box form input{
  margin-right:10px;
  padding:10px 50px;
  border-radius:5px;  
}
.password_wrap .pw_box form button{
  padding:10px 20px;
  background-color:#39B54A;
  color:#fff;
  border-radius:5px;
  cursor:pointer;
}
/*뷰페이지*/
.view_wrap{
  width:100%;
}
.view_wrap strong.tite{
  display:block;
  padding:20px;
  font-size:2.5rem;
  text-indent:10px;
  border-top:1px solid #252525;
  background-color:#f4f4f4;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.view_wrap .data{
  display:flex;
  justify-content:space-between;
  padding:20px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.view_wrap .data span{
  font-size:2.0rem;
}
.view_wrap .data span:nth-of-type(2){
  color:#666;
}
.view_wrap .view_content{
  padding:50px 20px;
  font-size:2.0rem;
  text-align:center;
  line-height:160%;
  border-bottom:1px solid #ddd;
}
.view_wrap .view_content.tl{
  text-align:left;
}
.view_wrap .view_content img{
  display:block;
  max-width:100%;
}
.view_wrap .comment_wrap strong{
  display:block;
  padding:20px;
  font-size:2.0rem;
  border-bottom:1px solid #ddd;
}
.view_wrap .comment_wrap strong i{
  font-size:1.8rem;
  color:#002243;
  vertical-align:top;
}
.view_wrap .comment_wrap .comment_content{
  padding:20px;
  border-bottom:1px solid #ddd;
}
.view_wrap .comment_wrap .comment_content p{
  font-size:1.8rem;
  color:#666;
}
.view_wrap .comment_wrap .comment_content p.admin_name{
  margin-bottom:10px;
  font-weight:600;
}
.view_wrap .comment_wrap .comment_write textarea{
  margin-top:20px;
  padding:20px;
  width:100%;
  height:100px;
  font-size:1.6rem;
  border:1px solid #ddd;
}
.view_wrap .next_wrap{
  margin-top:50px;
}
.view_wrap .next_wrap ul{
  border-top:1px solid #ddd;
}
.view_wrap .next_wrap ul li{
  display:flex;
  border-bottom:1px solid #ddd;
}
.view_wrap .next_wrap ul li,
.view_wrap .next_wrap ul li span,
.view_wrap .next_wrap ul li a{
  font-size:2.0rem;
  color:#555;
}

.view_wrap .next_wrap ul li span{
  display:block;
  padding:20px;
}
.view_wrap .next_wrap ul li a:hover{
  text-decoration:underline;
}
.view_wrap .next_wrap ul li span:nth-of-type(1){
  padding:20px 100px 20px 20px;
  background-color:#f4f4f4;
}

/*버튼css*/
.button_wrap{
  margin-top:20px;
  text-align:right;
}
.button_wrap button{
  padding:10px;
  font-size:1.6rem;
  color:#555;
  background-color:#f4f4f4;
  border:1px solid #ddd;
  border-radius:5px;
  cursor:pointer;
}
.button_wrap button.list_btn{
  padding:10px 30px;
  font-size:1.6rem;
  color:#fff;
  background-color:#39B54A;
  border-radius:5px;
  cursor:pointer;
}
.button_wrap button.cancel_btn{
  padding:10px 30px;
  font-size:1.6rem;
  color:#555;
  background-color:#f0f0f0;
  border-radius:5px;
  cursor:pointer;
}
.mr10{
  margin-right:10px;
}

/*쓰기*/
.write_wrap table{
  width:100%;
  border-top:1px solid #252525;
}
.write_wrap table caption{
  display:none;
}
.write_wrap table td,
.write_wrap table th{
  padding:20px 30px;
}
.write_wrap table td,
.write_wrap table th,
.write_wrap table label{
  font-size:1.6rem;
}
.write_wrap table td,
.write_wrap table th{
  border-bottom:1px solid #ddd;
}
.write_wrap table th{
  width:10%;
  text-align:left;
  text-indent:10px;
  background-color:#f4f4f4;
}
.write_wrap table img{
  display:block;
  max-width:100%;
}
.write_wrap table input{
  padding:8px 0;  
  font-size:1.6rem;
  text-indent:10px;
  border:1px solid #ddd;
}
.write_wrap table input[type="text"]{
  width:100%;
}
.write_wrap .w_title{
  display:inline-block;
  margin-right:10px;
  font-size:1.6rem;
}
.write_wrap table input[type="text"].email{
  width:20%;
  margin-right:10px;
}
.write_wrap table input[type="text"]#wr_name{
  width:30%;
}
.write_wrap table input[type="password"]{
  width:50%;
}
.write_wrap table input[type="file"]{
  width:100%;
}
.write_wrap table input[type="checkbox"]{
  font-size:1.6rem;
}
.write_wrap table select{
  margin-left:10px;
  padding:7px 20px;
  font-size:1.6rem;
  color:#555;
  vertical-align:bottom;
  background-color:#fff;
  border:1px solid #ddd;
  
}
.write_wrap table label.hidden{
  display:none;
}
.write_wrap .privacy_comment .privacy_agree{
  overflow-y:scroll;  
  margin:20px 0;
  padding:50px 30px;
  max-height:300px;
  font-size: 2.0rem;
  background-color:#f9f9f9;
  border:1px solid #ddd;
  border-radius:10px;
}
.write_wrap .privacy_comment .privacy_agree strong{
  display:block;
  margin-bottom:20px;
  font-size:2.0rem;
  font-weight:600;
}
.write_wrap .privacy_comment .privacy_agree p{
  line-height:240%;
}
.write_wrap .privacy_comment label{
  margin-left:10px;
  font-size:1.6rem;
  cursor:pointer;
}


/*지우*/
/*04_01_ceo인사말*/
#container .sub_visual.ceo .img{
  background:url("../images/sub/04_about/01_ceo/subvisual.jpg") no-repeat;
}
#container .sub_about .text_box {
  padding: 100px 0;
  text-align: center;
}
#container .sub_about .text_box h3 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.6;
  word-break: keep-all;
}
#container .sub_about .text_box strong {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.6;
}
/*회사정신*/
#container .spirit {
  margin-top: 150px;
  background: url(../images/sub/04_about/01_ceo/Enterprise.jpg)0 0 / cover no-repeat;
  background-attachment: fixed;
}
#container .spirit .text_box {
  padding: 320px 0;
  color: #fff;
  text-align: center;
}
#container .spirit .text_box h5 {
  margin-bottom: 60px;
  font-size: 7.0rem;
  font-weight: 700;
}
#container .spirit .text_box p {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.6;
}
/*ceo인사말*/
#container .Message {
  display: flex;
  column-gap: 60px;
}
#container .Message .img {
  width: calc(100% - 722px);
  border-radius: 0 20px 0 20px;
  background: url(../images/sub/04_about/01_ceo/company.jpg) 0 0 / cover no-repeat;
}
#container .Message .text_box {
  width: 662px;
}
#container .Message p {
  margin-bottom: 30px;
  font-size: 2.0rem;
  line-height: 1.7;
  word-break: keep-all;
}
#container .Message p.ceo_name {
  font-size: 3.0rem;
  font-weight: 500;
  text-align: right;
}

/*04_02_회사연혁*/
#container .sub_visual.history .img{ 
  background:url("../images/sub/04_about/02_history/subvisual.jpg") no-repeat;
}
#container .company_history {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
#container .company_history .history_img img {
  display: block;
  width: 100%;
  border-radius: 0 20px 0 20px;
}
#container .company_history .wep {
  width: calc((100% - 50px) / 2);
}
#container .company_history .line {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: #d9d9d9;
}
#container .company_history .history_text li {
  display: flex;
  align-items: start;
  column-gap: 30px;
  margin-bottom: 80px;
}
#container .company_history .history_text h5 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 0.8;
}
#container .company_history .history_text .text {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
  margin-bottom: 40px;
  font-size: 2.0rem;
}
#container .company_history .history_text .text strong {
  display: block;
  font-size: 2.5rem;
  line-height: 1;
}
#container .company_history .history_text .text p {
  margin-top: -5px;
  font-size: 2.0rem;
  color: #555;
  line-height: 1.6;
  word-break: keep-all;
}

/*04_03_조직도*/
#container .sub_visual.organization .img{
  background:url("../images/sub/04_about/03_organization/subvisual.jpg") 0 center / cover no-repeat;
}
#container .org img {
  display: block;
  max-width: 100%;
}

/*04_04_생산공정*/
#container .sub_visual.system .img{
  background:url("../images/sub/04_about/04_production/subvisual.jpg") no-repeat;
}
/*기계설비현황*/
#container .machine_system .machine {
  margin-top: 80px;
}
#container .machine_system .machine ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 30px;
}
#container .machine_system .machine .machine_box {
  position: relative;
  width: calc((100% - 32px) / 3);
  border-radius: 20px;
  overflow: hidden;
}
#container .machine_system .machine .machine_box img {
  display: block;
  width: 100%;
}
#container .machine_system .machine .machine_box span {
  position: absolute;
  left: 25px;
  bottom: 20px;
  padding-right: 15px;
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
}
/*타일생산과정*/
#container .tile_system .tile_production {
  margin: 80px 0 150px;
}
#container .tile_system .tile_production ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 80px;
}
#container .tile_system .tile_production li {
  width: calc((100% - 144px) / 4);
}
#container .tile_system .tile_production p {
  font-size: 1.8rem;
  color: #555;
  line-height: 1.6;
  word-break: keep-all;
}
#container .tile_system .tile_production p.num {
  font-size: 2.2rem;
}
#container .tile_system .tile_production .line {
  width: 100%;
  height: 1px;
  margin: 28px 0;
  border-radius: 50px;
  background: rgba(37,37,37,0.5);
}
#container .tile_system .tile_production p.productname {
  margin-bottom: 30px;
  font-size: 2.6rem;
  font-weight: 500;
  color: #003975;
}


/*04_05_채용정보*/
#container .sub_visual.jobs .img{ 
  background:url("../images/sub/04_about/05_jobs/subvisual.jpg") no-repeat;
}
#container .job_intro .text_box p {
  font-size: 2.5rem;
}
#container .job_intro .text_box h3 {
  margin: 30px 0;
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: -2px;
  word-break: keep-all;
}
#container .job_intro .text_box strong {
  font-size: 4.5rem;
  font-weight: 600;
}
#container .job_intro .text_box i {
  font-size: 4.5rem;
  font-weight: 500;
  color: #003975;
}
#container .job_intro .text_box em {
  font-size: 2.5rem;
  color: #555;
}
#container .job_line {
  width: 100%;
  height: 1px;
  margin-top: 120px;
  background: #ddd;
}
/*인재상*/
#container .features_inner.people {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
}
#container .features_inner.people li {
  width: calc((100% - 46px) / 2);
}
#container .features_inner.people li .ico{
  position:relative;
  width:122px;
  height: 102px;
  border-radius:20px 0;
}
#container .people li:nth-child(1) .ico{
  background-color:#003975;
}
#container .people li:nth-child(2) .ico{
  background-color:#39B54A;
}
#container .people li:nth-child(3) .ico{
  background-color:#39B54A;
}
#container .people li:nth-child(4) .ico{
  background-color:#003975;
}
#container .features_inner.people li:nth-child(1) .ico::after{
  background-image:url("../images/sub/04_about/05_jobs/icon_goodpeople01.png");
  background-color:#003975;
}
#container .features_inner.people li:nth-child(2) .ico::after{
  background-image:url("../images/sub/04_about/05_jobs/icon_goodpeople02.png");
}
#container .features_inner.people li:nth-child(3) .ico::after{
  background-image:url("../images/sub/04_about/05_jobs/icon_goodpeople03.png");
}
#container .features_inner.people li:nth-child(4) .ico::after{
  background-image:url("../images/sub/04_about/05_jobs/icon_goodpeople04.png");
}
#container .features_inner.people li .txt{
  width: 100%;
  margin-top: -7px;
  border-bottom: none;
}
#container .people li .txt strong {
  margin-top: -7px;
  font-size: 3.0rem;
  font-weight: 800;
}
#container .people li .txt p.title {
  font-size: 2.2rem;
  font-weight: 500;
}
#container .people li .txt p {
  padding: 5px 0;
  font-size: 2.0rem;
  color: #555;
}
/*채용절차*/
#container .process .people_process {
  display: flex;
  column-gap: 34px;
}
#container .process .people_process li {
  width: calc((100% - 170px) / 6);
}
#container .process .people_process li .icon {
  width: 100%;
  padding: 58px;
  margin: 80px 0 20px;
  border-radius: 20px;
  background: #f4f4f4;
}
#container .process .people_process li .icon img {
  display: block;
  width: 100%;
}
#container .process .people_process .arrow {
  display: none;
}

#container .process .people_process p {
  font-size: 2.2rem;
  text-align: center;
  word-break: keep-all;
}

/*복리후생*/
#container .benefits_wrap {
  margin-bottom: 200px;
}
#container .process .people_process.benefits .ico {
  position: relative;
  width: 195px;
  height: 195px;
  margin: 80px 0 20px;
  border-radius: 20px;
  background: #f4f4f4;
}

#container .process .people_process.benefits .arrow {
  display: none;
}

/*04_06_오시는길*/
#container .sub_visual.map .img{  
  background:url("../images/sub/04_about/06_map/subvisual.jpg") 0 center / cover no-repeat;
}
#container .map_tabs {
  display: flex;
  margin: 80px 0 20px;
  border-radius: 50px;
  background: #f4f4f4;
  text-align: center;
}
#container .map_tabs li {
  width: 50%;
  padding: 20px 0;
  font-size: 2.2rem;
  cursor: pointer;
  user-select: none;
}
#container .map_tabs li.on {
  background: #003975;
  border-radius: 50px;
  font-weight: 500;
  color: #fff;
}
#container .map_container iframe {
  width: 100%;
  height: 530px;
}
#container .map_container .map_infor {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 20px;
}
#container .map_container .map_infor > div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
#container .map_container .map_infor .icon {
  width: 50px;
  height: 50px;
  border-radius: 0 10px 0 10px;
}
#container .map_container .map_infor .icon.place {
  background: #003975 url(../images/sub/04_about/06_map/icon_place.png) center 50% no-repeat;
}
#container .map_container .map_infor .icon.call {
  background: #003975 url(../images/sub/04_about/06_map/icon_call.png) center 50% no-repeat;
}
#container .map_container .map_infor .icon.fax {
  background: #003975 url(../images/sub/04_about/06_map/icon_fax.png) center 50% no-repeat;
}
#container .map_container .map_infor i {
  display: block;
  font-size: 2.0rem;
  font-weight: 500;
  color: #003975;
  word-break: keep-all;
}
#container .map_container .map_infor p {
  font-size: 2.0rem;
  word-break: keep-all;
}
#container .map_container .map_infor > div:nth-child(1) {
  width: 100%;
}

/*04_07_회사전경*/
#container .sub_visual.company_view .img{ 
  background:url("../images/sub/04_about/07_introgallery/subvisual.jpg") no-repeat;
}


/*06_02_이메일무단수집거부*/
#container .sub_visual.email .img{ 
  background:url("../images/sub/06_policy/policy/subvisual.jpg") no-repeat;
}
#container .email_wrap .text_box {
  margin: 0 auto;
  text-align: center;
}
#container .email_wrap .text_box img {
  display: block;
  margin: 0 auto;
}
#container .email_wrap .text_box p {
  padding: 60px 0;
  font-size: 3.0rem;
  line-height: 1.7;
}

/*06_01_개인정보취급방침*/
#container .title_text h2 {
  font-size: 4.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.6;
}
/*개인정보 취급방침 순서*/
#container .policy_number h3 {
  font-size: 2.5rem;
}
#container .policy_number p {
  margin: 30px 0;
  font-size: 2.0rem;
}
#container .policy_number ul li {
  font-size: 1.8rem;
  line-height: 1.7;
  color: #555;
}
/*개인정보 취급방침 내용*/
#container .policy_content .content h5 {
  margin-bottom: 30px;
  font-size: 4.5rem;
  font-weight: 500;
  word-break: keep-all;
}
#container .policy_content .content p {
  font-size: 2.0rem;
  line-height: 1.6;
  word-break: keep-all;
}
#container .policy_content .content .list {
  margin:20px 0 30px;
}
#container .policy_content .content .list span {
  display: block;
  padding-left: 25px;
  font-size: 1.8rem;
  color: #555;
  line-height: 1.7;
  word-break: keep-all;
}
#container .policy_content .content.none .list span {
  padding-left: 0;
}
#container .policy_content .content .list .square {
  position: relative;
}
#container .policy_content .content .list .square::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url(../images/sub/06_policy/policy/square.jpg)no-repeat;
}